# Variables de entorno
.env

# Dependencias Angular
front/node_modules/

# Compilados Spring
back/target/

# IDEs
.idea/
*.iml
.vscode/

# uploads directory to test locally upload images endpoint
uploads/